
.container {
  display: flex;
  gap: 1rem;
}

.filters-container {
  padding-left: 20px;
  position: sticky;
}

/* .App {
  background-color: rgb(15, 15, 160);
} */

.checkbox {
  position: sticky;
  top: 0;
}

.checkbox-wrapper {
  width: 100px;
  margin-bottom: 10px;
}

.checkbox-wrapper:hover {
  box-shadow: 0 0 10px rgba(245, 4, 4, 0.5);
}

.workout-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 10px;
}

.ui.card {
  cursor: pointer;
}

.ui.card:hover {
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(245, 4, 4, 0.5);
}

.ui.items {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.item.button:hover {
  box-shadow: 0 0 10px rgba(245, 4, 4, 0.5);
}

.footer {
  min-height: 15vh;
  background-color: rgb(208, 242, 116);
}

.header {
  position: sticky;
  margin-bottom: 10px;
}

.trainers {

  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}

.trainer-pictures {

  display: flex;
  flex-direction: column;
  border-color: red;
  gap: 1rem;
  margin-left: 20px;
  margin-bottom: 10px; 
} 