.container {
  display: flex;
  gap: 1rem;
}

.filters-container {
  position: sticky;
}

.checkbox {
  position: sticky;
  top: 0;
}

.checkbox-wrapper {
  width: 100px;
  margin-bottom: 10px;
}

.checkbox-wrapper:hover {
  box-shadow: 0 0 10px rgba(245, 4, 4, 0.5);
}

.workout-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ui.card {
  cursor: pointer;
}

.ui.card:hover {
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(245, 4, 4, 0.5);
}

.ui.items {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.item.button:hover {
  box-shadow: 0 0 10px rgba(245, 4, 4, 0.5);
}

.footer {
  min-height: 15vh;
  background-color: rgb(208, 242, 116);
}

.ui.menu.item {
  justify-content: center;
}

.trainers {
  display: flex;
  background-color: blue;
  color: antiquewhite;
}