.container {
  display: flex;
  gap: 1rem;
}

.filters-container {
  position: relative;
}

.checkbox {
  position: sticky;
  top: 0;
}

.checkbox-wrapper {
  width: 100px;
  margin-bottom: 10px;
}

.checkbox-wrapper:hover {
  box-shadow: 0 0 10px rgba(245, 4, 4, 0.5);
}

.workout-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.ui.card {
  cursor: pointer;
}

.ui.card:hover {
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(245, 4, 4, 0.5);
}